.get-started-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px 20px;
}

.get-started-page h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.get-started-page p {
  font-size: 1.2em;
  color: #666;
}
